body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:hover {
  text-decoration: none;
}

.section-padding {
  padding: 60px 0;
}

.bottom {
  background-color: #0a1c2e;
}

.bottom .copyright {
  color: #e5e5e5;
  font-weight: 600;
}

.bottom p {
  margin-bottom: 0;
  line-height: 50px;
  font-size: 16px;
  font-weight: 400;
}

.myform {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 3rem auto 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.1rem;
}

.tx-tfm {
  text-transform: uppercase;
}

.mybtn {
  border-radius: 50px;
}

/* Card styling taken from: https://bootsnipp.com/snippets/67z63 */
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
}

.card-footer {
  font-size: 1em;
  padding: 0.75em 1em;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  background: #fff;
}